{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#mainbox{
  width: 40%;
  height: 700px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}


#box1{
  font-size: 15px;
  margin-top: 200px;
}

p{
  font-size: 13px;
  font-style: bold;
  cursor: pointer;
  margin-bottom: 15px;
}


#admin_heading{
  padding-top: 20px;
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

#Medical_admin,#rescue_admin{
  width: 50%;
  height: 600px;
  border: 1px solid white;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 50px;
  display: none;
}
#admin{
   width: 50%;
  height: 600px;
  border: 1px solid white;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 50px;}
label{
  font-size: 13px;
  font-style:bold;
  color: white;
  padding: 10px;
  width: 40%;
}

#hname,#lname,#mobile,#time,#address,#fess,#addresscity{
width: 100%;
height: 30px;
border-radius: 15px;
padding: 10px;
margin-bottom: 5px;
}

.btn{
  width: 20%;
  height: 40px;
  color: orange;
  border-style: none;
  background: white;
  font-style: bold;
  float: left;
  margin-top: 10px;
  margin-left: 300px;
}

.btn:hover{
  cursor: pointer;
  background: orange;
  color: white;
}

.Rightbox,.leftbox{
  float: left;
  width: 48%;
  padding: 5px;
}
